apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-frontend
  namespace: dwp-dev
  labels:
    app: blog-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-frontend
  template:
    metadata:
      labels:
        app: blog-frontend
    spec:
      containers:
        - name: nginx
          image: 850756192530.dkr.ecr.us-east-1.amazonaws.com/dwp/np/ui:1.1.5-SNAPSHOT-9690eeacbcccd6a6e034eda8bd659aff2e6b8b24
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"